{% extends "users/base.html" %}
{% load static %}

{% block body %}
    <div class="container">
        <h3>Booking Details</h3>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">You booked {{ booking.parking_spot }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ booking.date }} . {{ booking.booking_time }}</h6>
                <p class="card-text">Amount: {{ booking.amount }}</p>
                <p class="card-text">Vehicle: {{ booking.vehicle.name }}</p>
                {% if booking.start_time %}
                    <p class="card-text">From: {{ booking.start_time }} To: {{ booking.end_time }}</p>
                {% else %}
                    <p class="card-text">This booking was cancelled</p>
                {% endif %}
                <a href="#" class="btn btn-primary">Receipt</a>
            </div>
        </div>
        <a href="{% url 'feedback-create' booking.id %}" class>
            <div class="card mt-3">
                <div class="card-body">
                    <div class="d-flex w-100 justify-content-start">
                        <img src="{% static 'users/feedback.jpg' %}" alt="feedback img"/>
                                <h5 class="card-title">
                                    Have something to tell us?
                                </h5>
                    </div>   
                </div>
            </div>
        </a>       
    </div>
{% endblock body %}
