{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block body %}
<div class="container mt-5">
  <div class="list-group">
    <div class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ customer }}</h5>
      </div>
      <p class="text-muted">{{ user.email }}</p>
      {% if customer.has_booked == True %}
      <p class="mb-1">Check booking section to see status</p>
      {% else %}
      <p class="mb-1">You have not currently booked a parking lot</p>
      {% endif %}
    </div>
  </div>
</div>

<div class="container mt-5">
  <h2>Current</h2>
  <div class="list-group">
    <div class="list-group-item">
      <div class="d-flex w-100 justify-content-between">
        {% if customer.has_booked and customer.has_occupied %}
          <h5 class="mb-1">Parking Lot {{ current_booking.parking_spot }}</h5>
          <a href="{% url 'leave' current_booking.id %}"><button class="btn btn-danger">Leave</button></a>
        {% elif customer.has_booked %}
          <a href="{% url 'occupy' current_booking.id %}"><button class="btn btn-primary">Occupy</button></a>
          <a href="{% url 'cancel' current_booking.id %}"><button class="btn btn-outline-danger">Cancel</button></a>
        {% else %}
          <h5 class="mb-1">You have not booked a parking lot</h5>
        </div>
          <form action="{% url 'book' %}" method="post">
            {% csrf_token %}
            {{ vehicle_form|crispy }}
            <input class="btn btn-primary" value="Book parking lot" type="submit"/>
          </form>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <h2>History</h2>
  <div class="list-group">
      {% if not bookings %}
        <h5>You have not booked any parking lots yet. Book now!</h5>
      {% endif %}
      {% for booking in bookings %}
        <div class="list-group-item">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ booking.parking_spot }}</h5>
            <small class="text-muted">{{ booking.date }}, {{ booking.booking_time }}</small>
          </div>
          <p>{{ booking.vehicle.name }}</p>
            {% if not booking.end_time %}
              <p>The booking was cancelled </p>
            {% else %}
              <p> From: {{ booking.start_time }} To: {{ booking.end_time }}</p>
            {% endif %}
          <a href="{% url 'feedback-create' booking.id %}">Not satisfied? Tell us!</a>
        </div>
      {% endfor %}
  </div>
</div>
{% endblock body %}
