{% extends "users/base.html" %}
{% load static %}

{% block body %}
    <div class="container mt-5">
        <h2>History</h2>
        <div class="list-group">
            {% for booking in bookings %}
                <a class="list-group-item list-group-item-action" href="{% if user.is_customer %}{% url 'booking-detail' booking.id %}{% endif %}">
                    <div class="d-flex w-100 justify-content-start">
                        <div class="m-3">
                            {% if booking.vehicle.vehicle_type == 'car' %}
                                <img src="{% static 'users/car.jpg' %}" alt="Car image"/>
                            {% else %}
                                <img src="{% static 'users/twowheeler.jpg' %}" alt="two wheeler image"/>
                            {% endif %}
                        </div>
                        <div>
                            <h5 class="mb-1">Parking Lot {{ booking.parking_spot }}</h5>
                            <small class="text-muted">{{ booking.date }}, {{ booking.booking_time }}</small>
                            <p class="text-muted">₹{{ booking.amount }}</p>
                            {% if user.is_employee %}
                                <div>
                                    <p>Booked by: {{ booking.customer }}</p>
                                </div>
                                {% if booking.start_time %}
                                    <h6 class="card-subtitle mb-2 text-muted">{{ booking.start_time }} - {{ booking.end_time }}</h6>
                                {% elif booking.is_active %}
                                    <h6 class="card-subtitle mb-2 text-muted">{{ booking.start_time }} - ongoing</h6>
                                {% else %}
                                    <h6 class="card-subtitle mb-2 text-muted">Booking was cancelled</h6>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    </a>
            {% endfor %}
            </div>
            {% if is_paginated %}
                <div class="pagination">
                    <span class="page-links">
                        {% if page_obj.has_previous %}
                            <a href="/business/transactions/?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}
                        <span class="page-current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
                        {% if page_obj.has_next %}<a href="/business/transactions/?page={{ page_obj.next_page_number }}">next</a>{% endif %}
                    </span>
                </div>
            {% endif %}
    </div>
{% endblock body %}
